In [1]:
import numpy as np
import pandas as pd

## Creating series using pd.Series()

In [3]:
number_list = [2,4,6,8,10]

pd.Series(number_list)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [11]:
month = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Des']

#Specific Index
month_in_year = pd.Series(month, index = ["a","b","c","d","e","f","g","h","i","j","k","l"])

month_in_year

a    Jan
b    Feb
c    Mar
d    Apr
e    Mei
f    Jun
g    Jul
h    Aug
i    Sep
j    Oct
k    Nov
l    Des
dtype: object

In [18]:
dialing_code = { 1: "United States",
               44: "United Kingdom",
               62: "Indonesia",
               91: "India",
               966: "Saudi Arabia"}

pd.Series(dialing_code)

1       United States
44     United Kingdom
62          Indonesia
91              India
966      Saudi Arabia
dtype: object

In [14]:
arr_odd = np.array ([1, 3, 5, 7, 9])
pd.Series(arr_odd)

0    1
1    3
2    5
3    7
4    9
dtype: int64

## Creating Dataframes  using pd.Dataframe

In [17]:
array_2d = np.array([[1,2,3], [4,5,6], [7,8,9]])

pd.DataFrame(array_2d, columns = ['column 1', 'column 2', 'column 3'])

   column 1  column 2  column 3
0         1         2         3
1         4         5         6
2         7         8         9